:root{
   --text: #247513; /* Dark green for text */
  --background: #f3ba27; /* Yellow for background */
  --primary: #ff0000; /* Red for primary elements */
  --secondary: #092c03; /* Darker green for secondary elements */
  --accent: #000000; /* Black for accents */  
  --font-one: 'Dancing Script', cursive; /* Font for headings */
  --font-two: 'Kablammo', cursive; /* Font for subheadings*/
  --font-three: 'Moo Lah Lah', cursive; /* Font for body text*/
  --font-four: 'Nosifer', cursive; /* Font for special elements */
  --font-five: 'Notable', sans-serif; /* Font for buttons and links */
}


html{
  min-width: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  height: 100%;
  color-scheme: only light;
}

body {
 min-width: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  height: 100%;
  background-color: var(--background);
  border-color: var(--secondary);
}
#root{
  min-width: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100%;
  height: auto;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: visible; /* Allow content to overflow */
}


@media screen and (max-width: 768px) {
    
  html{
  min-width: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  height: 100%;
  overflow: hidden;
  color-scheme: only light;
}

body {
 min-width: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: var(--background);
  border-color: var(--secondary);
}
#root{
  min-width: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100%;
  height: auto;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#footer{
  position: relative;
  width: 100%;
  height: 200px;
  border-top: 1px solid var(--secondary);
  border-top: 1px solid var(--secondary);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10%;
}


}
